*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
/* login form  */
#mainDivLogin{
   width: 100vw;
   height: 100vh;
   display: flex;
   background-image: url('./mainBackground.png');
   background-size: cover;
   background-repeat: no-repeat;
   align-items: center;
   justify-content: center;
}
#forColorBlur{
    background-color: rgba(255, 255, 255, 0.352);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginBoxDiv{
    width: 60%;
    height: 75%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(236, 233, 233);
    box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
}
#imageNearFormDiv{
   width: 45%;
   height: 100%;
   
}
#loginPageImage{
    width: 100%;
    height: 100%;
    
}
#svgLineDiv{
    width: 8%;
    height: 100%;
    
}
#form{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.classForComponentInputDiv{
   width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.inputClasses{
    width: 0;
    height: 70%;
    border-radius: 10px;
    padding-left: 0;
    border: none;
    outline: none;
    background-color: white;
    transform-origin: center;
}
.errors{
    margin:0;
    padding:0;
    color:rgb(208, 47, 47);
    position:absolute;
    top:84%;
    left: 6%;
}
#loginButton{
    width: 50%;
    height: 9%;
    border-radius: 10px;
    position: relative;
    border: none;
    outline: none;
    background-color: rgb(112, 112, 224);
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#LogoMainPageLogin{
    width: 70px;
    height: 60px;
    background-color: (236, 233, 233);
    font-size: 20px;
}
#whisperImage{
    width: 100%;
    height: 100%;
    background-color:rgb(236, 233, 233);
}
#movingAnimationInsideButton{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(112, 112, 224, 0.237);
    color: white;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
#movingcircleAnimation{
    width: 20%;
    height: 70%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    display: none;
}
.infoDiv{
    color:blue;
}
.infoDiv:hover{
    color: rgb(247, 108, 108);
}
.googleDiv{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@media (max-width: 600px) {
    #mainDivLogin{
        width: 100vw;
        height: 92.5vh;
    }
    #imageNearFormDiv{
        display: none;
    }
    #svgLineDiv{
        display: none;
    }
    #form{
        width: 100%;
        height: 100%;
        background-color: rgb(236, 233, 233);
    }
    #LogoMainPageLogin{
        display: block;
        color:red;
        font-size: 20px;
        background-color: (236, 233, 233);
    }
    #loginBoxDiv{
        width: 80%;
        height: 60%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 5px 8px 29px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 8px 29px 4px rgba(0, 0, 0, 0.577);
-moz-box-shadow: 5px 8px 29px 4px rgba(0,0,0,0.75);
    }
    #mainDivLogin{
        background-color: #F7F5F3;
    }
}
/* otp verification Page */
#verificationMainPage{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(183, 175, 175, 0.772);
    align-items: center;
    justify-content: center;
}
#verificationBoxDiv{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height:30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    justify-content: center;
}
.otpDivInput{
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.otpInput{
    width: 90%;
    height: 80%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: rgb(217, 216, 216);
}
.otpInput:focus{
    -webkit-box-shadow: 3px 1px 11px -1px #444444; 
box-shadow: 3px 1px 11px -1px #444444;
}
#verifyButtonOtp{
     width: 20%;
    height: 15%;
    border-radius: 5px;
    position: relative;
    border: none;
    outline: none;
    background-color: rgb(112, 112, 224);
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 600px) {
    #verificationBoxDiv{
        width: 80%;
        box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
    }
}
/* homePage */
#homePage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#topNavBar{
    width: 100%;
    height: 9%;
    position: relative;
    border-bottom: 1px solid black;
}
#contentBox{
    width: 100%;
    height: 91%;
}

.searchsection{
    width: 100%;
    height: 8%;
    margin-top:20px ;
}
.searchsection input{
    width: 40%;
    height: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid black;
    padding: 10px;
}
#nameOfWebApp{
    width: 10%;
    height: 100%;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
#userName{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2%;
    top:15%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    cursor: pointer;
}
.ContentBoxNav{
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    border-bottom: 1px solid black;

}
.navbtn{
    height: 30px;
    border-radius: 8px;
    background-color: rgb(89, 191, 157);
    text-align: center;
    cursor: pointer;
    padding-inline: 10px;
}
#content{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#allGigsContentHolder{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    overflow-y: auto;
}
#allGigsContentHolder::-webkit-scrollbar{
    display: none;
}
.eachSingleGig{
    width: 250px;
    height: 260px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    flex-shrink: 0;
}
.buttonsInsideGig{
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    width: 80%;
    height: 10%;
}
.description{
    width: 80%;
    height: 80%;
}
.applyBtn{
    background-color: greenyellow;
    border-radius: 8px;
    width: 70px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.createNewGig{
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100%;
    height: 100%;
}
.formforGigs{
    border: 1px solid black;
    padding: 40px;
    border-radius: 10px;
}
.createGigButton{
    background-color: greenyellow;
    width: 50px;
    height: 30px;
    border:1px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.inputCreateGig{
    border-radius: 4px;
    border: 1px solid black;
}
p{
    color:red
}
.outerMainDivOfMyGigs{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    overflow-y: scroll;
}
.outerMainDivOfMyGigs::-webkit-scrollbar{
    display: none;
}
.myEachGig{
    border: 1px solid black;
    width: 250px;
    height: 260px;
    background-color: orange;
}
#popUpForBiding{
    width:300px;
    height:200px ;
    position:fixed;
    background-color:rgb(134, 243, 245);
    border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}
#popUpForBiding div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#popUpForBiding div input{
    border-radius: 6px;
}

.bidsContainer{
    background-color: rgb(57, 244, 251);
    border-radius: 8px;
    width: 350px;
    height: 500px;
    border: 1px solid black;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    align-items: center;
    flex-direction: column;
}
.eachBids{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    border: 1px solid black;
    box-shadow: inset;
    flex-shrink: 0;
    background-color: white;
    
}
#showMessages{
    width: 40px;
    height: 40px;   
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#messageIndicator{
    width: 7px;
    height: 7px;
    background-color: rgb(255, 64, 64);
    border-radius: 50%;
    position: absolute;
    right:1px;
    top: 3px;
    display: flex;
}
#inbox{
    background-color: orange;
    width: 350px;
    height: 500px;
    border-radius: 8px;
    display: flex;
   flex-direction:column ;
   align-items: center;
   gap: 10px;
   overflow-y: scroll;
   position: fixed;
   padding: 10px;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}
#inbox::-webkit-scrollbar{
    display: none;
}
.message{
    width: 90%;
    border-radius: 5px;    
    word-wrap: break-word;
    border: 1px solid black;
}
.allGigs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap:18px;
}
.allGigs::-webkit-scrollbar{
    display: none;
}